.box-impressao {
    padding: 100px;
    padding-left: 100px;
}

.box-nome {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.box-subtitulo {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.box-texto {
    font-size: 25px;
}

.box-obs {
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
}

.box-empresa {
    font-size: 25px;
}