<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

      <form [formGroup]="buscaForm">

        <div class="card card-body">


          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="CPF" formControlName="cpf">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Curso / Profissão" formControlName="curso">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Cidade" formControlName="municipio">
            </div>
            <div class="col-md-2">
              <select class="form-control" placeholder="Sexo" formControlName="sexo">
                <option></option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
              </select>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-2">
              <button type="button" class="btn btn-dark btn-block" type="button"
                (click)="buscarEleitores();">PESQUISAR</button>
            </div>
          </div>

        </div>

      </form>

    </div>

  </div>


  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>Nome</th>
              <th>Cidade</th>
              <th>Cursos</th>
              <th>Telefone</th>
              <th>Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of eleitores">
              <td>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/eleitor', e._id]">
                  <img src="/assets/pencil.svg" alt="icon pencil" width="14px">
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="imprimir(e._id);">
                  <img src="/assets/print.svg" alt="icon print" width="14px">
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary" (click)="apagarEleitor(e._id);">
                  <img src="/assets/trash.svg" alt="icon circle x" width="14px">
                </button>
              </td>
              <td>{{ e.nome }}</td>
              <td>{{ e.municipio }}</td>
              <td><span *ngFor="let c of e.curso">{{c.nome + " "}}</span></td>
              <td>{{ e.telefone }}</td>
              <td>{{ e.celular }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="total" [(page)]="page"
        [boundaryLinks]="true" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="loadPage($event)">
      </ngb-pagination>
    </div>
  </div>
</div>